<h1>
  <%= t('.privacy_policy') %>
</h1>

<h4>
  <%= t('.last_updated_date', date: @date) %>
</h4>

<h4>
  <%= t('.introduction') %>
</h4>
<p>
<%= t('.introduction_description') %>
</p>

<h4>
  <%= t('.information_we_collect') %>
</h4>
<p>
<%= t('.information_we_collect_description') %>
</p>

<h4>
  <%= t('.how_we_use_your_info') %>
</h4>
<p>
<%= t('.how_we_use_your_info_description') %>
</p>

<h4>
  <%= t('.gdpr_laws.default') %>
</h4>
<p>
<%= t('.gdpr_laws.description_1') %>
<br>
<%= t('.gdpr_laws.description_2') %>
</p>

<h4>
  <%= t('.data_retention') %>
</h4>
<p>
<%= t('.data_retention_description') %>
</p>

<h4>
  <%= t('.gdpr_rights.default') %>
</h4>
<p>
<%= t('.gdpr_rights.description') %>
<ul>
  <li>
    <%= t('.gdpr_rights.access') %>
  </li>
  <li>
    <%= t('.gdpr_rights.rectification') %>
  </li>
  <li>
    <%= t('.gdpr_rights.erasure') %>
  </li>
  <li>
    <%= t('.gdpr_rights.restriction') %>
  </li>
  <li>
    <%= t('.gdpr_rights.objection') %>
  </li>
  <li>
    <%= t('.gdpr_rights.data_portability') %>
  </li>
</ul>
<%= t('.gdpr.exercise') %> <%= link_to t('.contact'), new_support_tickets_path %>.
</p>

<h4>
  <%= t('.policy_changes.default') %>
</h4>
<p>
<%= t('.policy_changes.description') %>
</p>

<h4>
  <%= t('.contact_us.default') %>
</h4>
<p>
<%= t('.contact_us.description') %>
<%= link_to t('.contact'), new_support_tickets_path %>.
</p>
