<div class="breadcrumbs">
  <% if @topic.nil? %>
    <%= 'All Topics' %>
  <% else %>
    <%= link_to 'All Topics', passages_path %>
    <span> / </span>
    <% if @passage.present? %>
      <%= link_to @topic.name.titleize, passages_by_topic_path(topic_name: urlify(@topic.name)) %>
    <% else %>
      <%= @topic.name.titleize %>
    <% end %>
  <% end %>
  <% if @passage.present? %>
    <span> / </span>
    <span><%= @passage.title.titleize %></span>
  <% end %>
</div>

