<h1><%= t('user_mailer.send_verification_email.subject') %></h1>
<p><%= t('user_mailer.send_verification_email.greeting', email: @user.email) %></p>
<p><%= t('user_mailer.send_verification_email.body') %></p>
<p><a href="<%= @url %>"><%= t('user_mailer.send_verification_email.verify_link') %></a></p>
<p><%= t('user_mailer.send_verification_email.ignore_message') %></p>

