<div class="faq-container">
  <div class="faq-item">
    <h4>
      1. <%= t('.question_1') %>
    </h4>
    <p>
    <%= t('.answer_1') %>
    </p>
  </div>
  <div class="faq-item">
    <h4>
      2. <%= t('.question_2') %>
    </h4>
    <p>
    <%= t('.answer_2') %>
    </p>
  </div>
  <div class="faq-item">
    <h4>
      3. <%= t('.question_3') %>
    </h4>
    <p>
    <%= t('.answer_3') %>
    </p>
  </div>
  <div class="faq-item">
    <h4>
      4. <%= t('.question_4') %>
    </h4>
    <p>
    <%= t('.answer_4') %>
    </p>
  </div>
  <div class="faq-item">
    <h4>
      5. <%= t('.question_5') %>
      5. What languages do you support?
    </h4>
    <p>
    <%= t('.answer_5') %>
    </p>
  </div>
</div>
