<div class="home-container">
  <h1><%= t('.listen_and_learn') %><br><%= t('.language_fun_for_everyone') %></h1>
  <div class="header-details">
    <p>
    <%= t('.header_detail_1') %>
    </p>
    <p>
    <%= t('.header_detail_2') %>
    </p>
    <div>
      <%= link_to passages_path, class: 'link-button' do %>
        <%= t('.start_button') %>
      <% end %>
    </div>
  </div>
  <div class="line-separator">
  </div>
  <div class="learning-methods-container">
    <h2>
        <%= t('.how_to_practice_header') %>
    </h2>
    <p class="learning-methods-text">
    <%= t('.follow_these_steps') %>
    </p>
    <div class="learning-method-group">
      <div class="learning-method-item">
        <h3>1. <%= t('.listen') %></h3>
        <img src="/images/listen-man.png">
        <p>
        <%= t('.listen_description') %>
        </p>
      </div>
      <div class="learning-method-item">
        <h3>2. <%= t('.write') %></h3>
        <img src="/images/typing-woman.png">
        <p>
        <%= t('.write_description') %>
        </p>
      </div>
    </div>
    <div class="learning-method-group">
      <div class="learning-method-item">
        <h3>3. <%= t('.correct_mistakes') %></h3>
        <img src="/images/correct.png">
        <p>
        <%= t('.correct_mistakes_description') %>
        </p>
      </div>
      <div class="learning-method-item">
        <h3>4. <%= t('.read') %></h3>
        <img src="/images/speak-woman.png">
        <p>
        <%= t('.read_description') %>
        </p>
      </div>
    </div>
    <!--div class="learning-method-group">
      <div class="learning-method-item">
        <h3>5. Recall (Flashcards coming soon)</h3>
        <img src="/images/thinking-man.png">
        <p>
        Creating flashcards for spaced repetition helps language learning by reinforcing vocabulary and concepts at optimal intervals. This method boosts long-term memory retention while making learning more efficient and personalized.
        </p>
      </div>
    </div -->
  </div>
  <div class="line-separator">
  </div>
  <div class="home-faq-container">
    <h2><%= t('.faq') %></h2>
    <%= render partial: 'faq/partials/faqs' %>
  </div>
</div>

