<div id="clearance" class="password-reset">
  <h2><%= t(".title") %></h2>

  <p><%= t(".description") %></p>

  <%= form_for :password_reset,
        url: [@user, :password, token: @user.confirmation_token],
        html: { method: :put, class: 'form' } do |form| %>
    <div class="text-field">
      <%= form.label :password %>
      <%= form.password_field :password, class: 'input-field' %>
    </div>

    <div class="submit-field">
      <%= form.submit t('.submit'), class: 'submit-button' %>
    </div>
  <% end %>
</div>
