<h1>
  <%= t('.header') %>
</h1>

<h4>
  <%= t('.last_updated_date', date: @date) %>
</h4>

<h4>
  <%= t('.what_are_cookies') %>
</h4>
<p>
<%= t('.what_are_cookies_description') %>
</p>

<h4>
  <%= t('.types_of_cookies') %>
</h4>
<p>
<%= t('.types_of_cookies_essential') %>
<br>
<%= t('.types_of_cookies_ads') %>
</p>

<h4>
  <%= t('.gdpr_consent') %>
</h4>
<p>
<%= t('.gdpr_consent_description') %>
</p>

<h4>
  <%= t('.managing_cookies') %>
</h4>
<p>
<%= t('.managing_cookies_description') %>
</p>

<h4>
  <%= t('.third_party_ads') %>
</h4>
<p>
<%= t('.third_party_ads_description') %> <a href="https://policies.google.com/"><%= t('.google_privacy_and_terms') %></a>.
</p>

<h4>
  <%= t('.policy_changes') %>
</h4>
<p>
<%= t('.policy_changes_description') %>
</p>

<h4>
  <%= t('.contact_us') %>
</h4>
<p>
<%= t('.contact_us_description') %> <%= link_to t('.contact'), new_support_tickets_path %>.
</p>
