<div class="passages-by-difficulty-container">
  <%= render partial: 'passages/partials/breadcrumbs' %>
  <h1><%= @difficulty.name.titleize %></h1>
  <div>
    <ul class="passages-list">
      <% @passages.each_with_index do |passage, index| %>
        <li class="passage-link">
          <%= link_to passage_writer_path(@difficulty.name, passage.title), class: 'passage-list-item' do %>
            <%= index + 1 %>. <%= passage.title %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

