<div class="passages-by-difficulty-container">
  <%= render partial: 'passages/partials/breadcrumbs' %>
  <h1><%= @difficulty.name.titleize %></h1>
  <div>
    <div class="pagy-container">
      <%== pagy_nav(@pagy) %>

      <%= form_with url: passages_by_difficulty_path(difficulty_name: @difficulty.name), method: :get, local: true, class: 'search-form' do %>
        <input
          type="text"
          name="q"
          value="<%= params[:q] %>"
          placeholder="Search"
          class="search-input"
        >
        <%= submit_tag 'Search', class: 'search-button' %>
      <% end %>
    </div>
    <ul class="passages-list">
      <% @passages.each_with_index do |passage, index| %>
        <% completed_count = @passage_progresses[passage.id]&.completed_count.to_i rescue 0 %>
        <% current_index = @passage_progresses[passage.id]&.current_index.to_i rescue 0 %>
        <li class="passage-link">
          <div class="passage-title-container">
            <% if current_user %>
              <% if completed_count > 0 %>
                <%= inline_svg('star-filled.svg', class: "icon star-icon star-filled star-#{[completed_count, 5].min}") %>
              <% else %>
                <%= inline_svg('empty-star.svg', class: 'icon star-icon') %>
              <% end %>
            <% end %>
            <%= link_to passage_writer_path(@difficulty.name, passage.title), class: 'passage-list-item' do %>
              <%= passage.position %>. <%= passage.title %>
            <% end %>
          </div>

          <% if 0 < current_index && current_index < passage.total_sentences %>
            <%= render partial: 'partials/progress_bar', locals: { current_index: current_index, total: passage.total_sentences } %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

