<div class="passages-by-topic-container">
  <%= render partial: 'topics/partials/breadcrumbs' %>
  <h1><%= @topic.name.titleize %></h1>
  <!--
  <% Passage.difficulties.keys.each do |difficulty| %>
    <%= button_to "New passage for #{difficulty.to_s} difficulty",
      passages_path,
      method: :post,
      params: { topic_id: @topic, difficulty: difficulty },
      form: { data: { turbo_stream: true } },
      class: "btn" %>
  <% end %>
  -->
  <div>
    <ul class="passages-list">
      <% @passages.each_with_index do |passage, index| %>
          <%= link_to passage_writer_path(urlify(@topic.name), urlify(passage.title)), class: 'passage-link' do %>
            <li class="passage-list-item">
              <%= index + 1 %>. <%= passage.title.titleize %>
            </li>
          <% end %>
      <% end %>
    </ul>
  </div>
</div>
