<div class="passages-index-container">
  <h1>All Passages</h1>

  <h3>By Category</h3>
  <ul class="difficulties-list">
    <% @categories.each do |category| %>
      <li class="difficulties-list-item">
        <div class="difficulties-list-item-main">
          <div style="height: 75px; width: 75px;">
            <img src="/images/ruby.png">
          </div>
          <div class="difficulties-list-item-info">
            <% name = Passage.categories.key(category.name) %>
            <% titleized_name = Passage.categories.key(category.name).gsub('_', ' ').titleize %>
            <%= link_to passages_by_category_path(category_name: name), class: 'passages-difficulty-title' do %>
              <div>
                <%= titleized_name %>
              </div>
              <span>
                Difficulty: <%= Difficulty::LEVEL_TO_NAME[category.min_difficulty].to_s.titleize %> - <%= Difficulty::LEVEL_TO_NAME[category.max_difficulty].to_s.titleize %>
              </span>
              <span><%= category.total_passages %> <%= category.total_passages == 1 ? 'passage' : 'passages' %></span>
            <% end %>
          </div>
        </div>
        <div class="hidden">
          Some kind of description
        </div>
      </li>
    <% end %>
  </ul>
</div>
