<div class="passages-index-container">
  <h1>All Passages</h1>
  <br>
  <ul class="difficulties-list">
    <% @categories.each do |category| %>
      <li class="difficulties-list-item">
        <div class="difficulties-list-item-main">
          <img src="<%= Passage.category_image(category.name) %>">
          <div class="difficulties-list-item-info">
            <% name = Passage.categories.key(category.name) %>
            <% titleized_name = Passage.categories.key(category.name).gsub('_', ' ').titleize %>
            <%= link_to passages_by_category_path(category_name: name), class: 'passages-difficulty-title' do %>
              <div>
                <%= titleized_name %>
              </div>
              <span>
                Difficulty: <%= Difficulty::LEVEL_TO_NAME[category.min_difficulty].to_s.titleize %> - <%= Difficulty::LEVEL_TO_NAME[category.max_difficulty].to_s.titleize %>
              </span>
              <span>
                <% if current_user %>
                  <%= @completed_passages_count_by_category[name].to_i %> /
                <% end %>
                <%= category.total_passages %> <%= category.total_passages == 1 ? 'passage' : 'passages' %> completed
              </span>
            <% end %>
          </div>
        </div>
        <div class="hidden">
          Some kind of description
        </div>
      </li>
    <% end %>
  </ul>
</div>
