<div class="passages-index-container">
  <h1><%= t('.header') %></h1>
  <br>
  <ul class="difficulties-list">
    <% @categories.each do |category| %>
      <li class="difficulties-list-item">
        <div class="difficulties-list-item-main">
          <img src="<%= Passage.category_image(category.name) %>">
          <div class="difficulties-list-item-info">
            <% name = Passage.categories.key(category.name) %>
            <% titleized_name = Passage.categories.key(category.name).gsub('_', ' ').titleize %>
            <%= link_to passages_by_category_path(category_name: name), class: 'passages-difficulty-title' do %>
              <div>
                <%= titleized_name %>
              </div>
              <span>
                <%= t('.difficulty') %>: <%= Difficulty::LEVEL_TO_NAME[category.min_difficulty].to_s.titleize %> - <%= Difficulty::LEVEL_TO_NAME[category.max_difficulty].to_s.titleize %>
              </span>
              <span>
                <% if current_user %>
                  <%= category.total_passages == 1 ? t('.single_exercise_completed') : t('.plural_exercises_completed', numerator: @completed_passages_count_by_category[name].to_i, denominator: category.total_passages) %>
                <% else %>
                  <%= category.total_passages == 1 ? t('.single_exercise') : t('.plural_exercises', number: category.total_passages) %>
                <% end %>
              </span>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
