<div class="passage-writer-show-container">
  <%= render partial: 'passages/partials/breadcrumbs' %>
  <div class="passage-writer-title-container">
    <h1>
      <%= @passage.position %>. <%= @passage.title %>
      <% if current_user %>
        <% completed_count = @passage_progress&.completed_count.to_i %>
        <% if completed_count > 0 %>
          <%= inline_svg('star-filled.svg', class: "icon star-icon star-filled star-#{[completed_count, 5].min}") %>
        <% else %>
          <%= inline_svg('empty-star.svg', class: 'icon star-icon') %>
        <% end %>
      <% end %>
    </h1>
  </div>

  <div class="sentence-writer-card"
       data-controller="sentence-writer"
       data-sentence-writer-id-value="<%= @passage.id %>"
       data-sentences="<%= @sentences_data.to_json %>"
       data-current-index="<%= @current_index %>">
       <div class="sentence-writer-navigation" data-sentence-writer-target="navigation">
         <button  type="button" class="button arrow-button<%= @current_index == 0 ? ' hidden-vis' : '' %>" data-sentence-writer-target="leftNav" data-action="click->sentence-writer#prev keydown.enter->sentence-writer#prev">
           &larr;
         </button>
         <span data-sentence-writer-target="currentIndexNavigation"><%= "#{@current_index + 1} / #{@sentences_data.length}" %></span>
         <button class="button arrow-button" data-sentence-writer-target="rightNav" data-action="click->sentence-writer#next keydown.enter->sentence-writer#next">
           &rarr;
         </button>
         <div class="passage-actions">
           <div class="passage-options-container" data-controller="popup">
             <button type="button" class="passage-options-button" data-action="popup#displayPopup">
               <%= inline_svg('ellipsis.svg', class: 'icon') %>
             </button>
             <div class="hidden" style="position: relative;" data-popup-target="popupFrame">
               <div class="passage-options-items popup">
                 <% if @previous_passage.present? %>
                   <%= link_to 'Previous Passage', passage_writer_path(@difficulty.name, @previous_passage.title) %>
                 <% end %>
                 <% if @next_passage.present? %>
                   <br>
                   <%= link_to 'Next Passage', passage_writer_path(@difficulty.name, @next_passage.title) %>
                 <% end %>
                 <button type="button" onclick="navigator.clipboard.writeText(window.location.href).then(() => {})" data-action="popup#hidePopup">
                   Copy passage url
                 </button>
                 <% if current_user.present? %>
                   <br>
                   <button type="button" data-action="click->sentence-writer#resetProgress popup#hidePopup">Reset progress</button>
                 <% end %>
               </div>
             </div>
           </div>
         </div>
       </div>

       <div class="sentence-card-main-container" data-sentence-writer-target="mainContainer">
         <div class="sentence-card-attempt-container">
           <div class="card-container" data-sentence-writer-target="writerContainer">
             <audio id="audio-<%= @current_index %>" class="sentence-writer-audio" controls src="<%= @sentences_data[@current_index][:audio_url] %>"></audio>

             <%= content_tag :div,
               id: 'sentence-blur-hint',
               class: 'sentence-writer-sentence-text',
               onclick: "this.querySelector('.content-blur').classList.toggle('blur');" do %>
               <span class="sentence-prefix">
                 <% if @sentences_data[@current_index][:prefix].present? %>
                   <%= @sentences_data[@current_index][:prefix] %>: 
                 <% end %>
               </span>

               <span class="content-blur blur">
                 <%= @sentences_data[@current_index][:content] %>
               </span>
             <% end %>
           </div>
           <div>
             <textarea placeholder="Type what you hear.." data-sentence-writer-target="textArea" data-action="keydown.enter->sentence-writer#check"></textarea>
           </div>

           <div style="display: none;" class="check-result" data-sentence-writer-target="incorrectDiv">
             <%= inline_svg('alert-triangle.svg', class: 'icon warning') %>
             <span class="bold">Incorrect!</span>
             &nbsp;
             <span>Try again</span>
             <div class="check-result-actions">
               <button class="button neutral-button" data-action="click->sentence-writer#toggleMismatch">
                 Hint
               </button>
               <button class="button warning-button" data-action="click->sentence-writer#skip keydown.enter->sentence-writer#skip">
                 Skip
               </button>
             </div>
           </div>

           <div style="display: none;" class="check-result" data-sentence-writer-target="correctDiv">
             <%= inline_svg('circle-check.svg', class: 'icon success') %>
             <span class="bold">Great Job!</span>
             <div class="check-result-actions">
               <button class="button success-button" data-action="click->sentence-writer#next keydown.enter->sentence-writer#next">
                 Next
               </button>
             </div>
           </div>

           <div style="display: none;" class="check-result" data-sentence-writer-target="skipDiv">
             <div class="check-result-actions">
               <button class="button action-button" data-action="click->sentence-writer#next keydown.enter->sentence-writer#next">
                 Next
               </button>
             </div>
           </div>

           <div data-sentence-writer-target="checkAndSkipDiv">
             <button class="button action-button" data-action="click->sentence-writer#check keydown.enter->sentence-writer#check">
               Check
             </button>
             &nbsp;
             <button class="button neutral-button" data-action="click->sentence-writer#skip keydown.enter->sentence-writer#skip">
               Skip
             </button>
           </div>

           <div class="check-result-text" data-sentence-writer-target="checkResult"></div>
         </div>

         <div style="display: none;" class="sentence-writer-card-info-container" data-sentence-writer-target="infoContainerDiv">
           <div class="sentence-translations-container">
             <label for="language-select">Translation:</label>
             <select id="language-select" class="translation-select" data-sentence-writer-target="translateLanguageSelect" data-action="change->sentence-writer#changeLanguage">
               <% @language_codes.each do |code, name| %>
                 <option value="<%= code %>"><%= name %></option>
               <% end %>
             </select>

             <div data-sentence-writer-target="translationsOutput">
               <!-- Translations will be inserted here -->
             </div>
           </div>

           <div class="sentence-pronunciations-container" data-sentence-writer-target="wordPronunciationsDiv" data-controller="tooltip">
             <div>
               Pronunciations
             </div>
             <div class="pronunciation-words" data-sentence-writer-target="wordPronunciationsText">
             </div>
             <div class="tooltip tooltip-below hidden" data-tooltip-target="tooltip">
               <div class="tooltip-arrow" data-tooltip-target="arrow"></div>
               <div class="tooltip-content" data-tooltip-target="content">
               </div>
             </div>

           </div>
           <div class="sentence-comments-container hidden" data-controller="comments">
             Comments
           </div>
         </div>
       </div>

       <div class="sentence-card-completed-container hidden" data-sentence-writer-target="completedContainer">
         <div class="passage-completed-content">

           <div class="passage-completed-text">
             You have completed this passage.
             <br>
             Awesome work!
           </div>
           <div class="completed-nav-links">
             <% if @next_passage.present? %>
               <%= link_to passage_writer_path(@difficulty.name, @next_passage.title), id: 'completed-next-link', class: 'link-button success-link' do %>
                 Continue
               <% end %>
             <% end %>
             <%= link_to passage_writer_path(@difficulty.name, @passage.title), id: 'completed-repeat-link', class: 'link-button' do %>
               Repeat
             <% end %>
             <% if @previous_passage.present? %>
               <%= link_to passage_writer_path(@difficulty.name, @previous_passage.title), id: 'completed-prev-link', class: 'link-button neutral-link' do %>
                 Previous
               <% end %>
             <% end %>
           </div>
           <div>
             <%= link_to passages_by_difficulty_path(@difficulty.name), id: 'all-passages-link' do %>
               All Passages
             <% end %>
           </div>
         </div>
       </div>
  </div>

  <div class="hidden">
    <%= @sentences.map(&:content).join("\n") %>
  </div>
</div>

