<div>
  <%= @passage.title %>
  <div>
    <% @passage.sentences.each do |sentence| %>
      <div>
        <%= sentence.order_idx %>. <%= sentence.content %>
        <div style="padding-left: 13px;">
          Translations: 
          <% sentence.translations.each do |translation| %>
            <div style="padding-left: 13px;">
              <%= translation.language.name.capitalize %>: <%= translation.text %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% @languages.each do |language| %>
  <%= button_to "Translate to #{language.name}",
    translate_passage_path(@passage),
    method: :post,
    params: { language_id: language.id },
    form: { data: { turbo_stream: true } },
    class: "btn" %>
<% end %>
