<div class="top-nav-container" data-controller="navigation">
  <div class="primary-nav-container">
    <nav id="top-nav">
      <%= link_to root_path, style: 'display: flex; align-items: center;' do %>
        <img src="/images/logo_small.png" alt="Logo" style="height: 31px;"> <span style="padding-left: 1rem; font-weight: bold; font-size: 1.5rem;">BasedLingo</span>
      <% end %>

      <!-- Hamburger Icon -->
      <button class="menu-toggle" id="menu-toggle" data-navigation-target="menuToggle"  data-action="navigation#toggleHamburger" aria-label="Toggle navigation" aria-expanded="false">
        <span class="hamburger"></span>
      </button>

      <ul class="nav-links" id="nav-links" data-navigation-target="navLinks">
        <li><%= link_to t('.home'), root_path %></li>
        <% if admin_route? %>
          <li><%= link_to t('.users'), admin_users_path %></li>
          <li><%= link_to t('.products'), admin_products_path %></li>
          <li><%= link_to t('.prices'), admin_stripe_prices_path %></li>
          <li><%= link_to t('.support'), admin_support_tickets_path %></li>
          <li><%= link_to t('.errors'), admin_application_errors_path %></li>
        <% else %>
          <li><%= link_to t('.exercises'), passages_path %></li>
          <% if current_user&.admin? %>
            <li><%= link_to t('.flashcards'), decks_path %></li>
          <% end %>
          <li><%= link_to t('.support'), new_support_tickets_path %></li>
          <li><%= link_to t('.faq'), faq_index_path %></li>
        <% end %>
        <div class="nav-right-actions">
          <% if signed_in? %>
            <% if current_user&.super_admin? %>
              <li>
                <%= link_to t('.admin'), admin_root_path %>
              </li>
            <% end %>
            <li>
              <%= link_to current_user.email, root_path %>
            </li>
            <%# if current_user.stripe_customer_id.present? %>
            <%#= button_to 'Billing Portal', stripe_billing_portal_sessions_path, data: { turbo: false } %>
            <%# end %>
            <li>
              <%= button_to t('.sign_out'), sign_out_path, method: :delete %>
            </li>
          <% else %>
            <li><%= link_to t('.sign_in'), sign_in_path %></li>
            <li><%= link_to t('.sign_up'), sign_up_path %></li>
          <% end %>
        </div>
      </ul>
    </nav>
  </div>
    <div class="secondary-nav-container">
      <nav id="top-nav-secondary">
        <span class="right-section">
          <select
              style="margin-bottom: 0px; line-height: 1rem; margin-right: 1rem; padding-right: 0; width: 117px;"
              name="locale"
              onchange="window.location.href = this.value;">
            <% I18n.available_locales.uniq.each do |locale| %>
              <option value="<%= url_for(locale: locale) %>" <%= 'selected' if I18n.locale == locale %>>
              <%= flag_emoji(locale) %> <%= locale.to_s.upcase %>
              </option>
            <% end %>
          </select>


          <% if current_user.present? %>
            <div style="position: relative; display: inline-block;" data-controller="popup">
              <%= link_to t('.in_progress'), passages_in_progress_path,
                data: { action: "click->popup#showLoading", turbo_frame: "in_progress_popup", turbo_stream: true },
                class: "button" %>

              <turbo-frame id="in_progress_popup" class="hidden" data-popup-target="popupFrame">
                <!-- Initially empty; will show loading spinner on click, then content after response -->
              </turbo-frame>
            </div>
          <% end %>
        </span>
      </nav>
    </div>
</div>

<script>
  document.addEventListener("scroll", function () {
    const nav = document.querySelector(".top-nav-container");

    if (window.scrollY > 0) {
      nav.classList.add("scrolled");
    } else {
      nav.classList.remove("scrolled");
    }
  });
</script>
