<h1><%= t('.contact_us') %></h1>

<p>
<%= t('.contact_us_header') %>
</p>
<p>
<%= t('.contact_us_description') %>
</p>

<%= form_for @support_ticket, html: { class: 'form' } do |form| %>
  <%= form.hidden_field :status, value: SupportTicket::OPEN %>
  <%= form.hidden_field :priority, value: SupportTicket::LOW %>

  <div class="text-field">
    <%= form.label :author_email, "#{t('.email')}:" %>
    <%= form.email_field :author_email, class: 'input-field' %>
  </div>

  <div class="text-field">
    <%= form.label :subject, "#{t('.subject')}:" %>
    <%= form.text_field :subject, class: 'input-field' %>
  </div>

  <div class="text-field">
    <%= form.label :content, "#{t('.content')}:" %>
    <%= form.text_area :content, class: 'textarea-field' %>
  </div>

  <div class="submit-field">
    <%= form.submit t('.submit'), class: 'submit-button' %>
  </div>
<% end %>
