<h1>
  <%= t('terms_of_service.title') %>
</h1>

<h4>
  <%= t('terms_of_service.last_updated', date: @date) %>
</h4>

<h4>
  <%= t('terms_of_service.use_of_service.title') %>
</h4>
<p>
  <%= t('terms_of_service.use_of_service.description') %>
</p>

<h4>
  <%= t('terms_of_service.no_guarantee_of_results.title') %>
</h4>
<p>
  <%= t('terms_of_service.no_guarantee_of_results.description') %>
</p>

<h4>
  <%= t('terms_of_service.intellectual_property.title') %>
</h4>
<p>
  <%= t('terms_of_service.intellectual_property.description', app_name: @app_name) %>
</p>

<h4>
  <%= t('terms_of_service.limitation_of_liability.title') %>
</h4>
<p>
  <%= t('terms_of_service.limitation_of_liability.description', app_name: @app_name) %>
</p>

<h4>
  <%= t('terms_of_service.modifications_to_service.title') %>
</h4>
<p>
  <%= t('terms_of_service.modifications_to_service.description') %>
</p>

<h4>
  <%= t('terms_of_service.governing_law.title') %>
</h4>
<p>
  <%= t('terms_of_service.governing_law.description') %>
</p>

<h4>
  <%= t('terms_of_service.compliance_with_data_protection.title') %>
</h4>
<p>
  <%= t('terms_of_service.compliance_with_data_protection.description') %>
</p>

<h4>
  <%= t('terms_of_service.privacy_policy.title') %>
</h4>
<p>
  <%= t('terms_of_service.privacy_policy.description', privacy_policy_link: link_to(t('terms_of_service.privacy_policy.title'), privacy_policy_path)) %>
</p>

<h4>
  <%= t('terms_of_service.contact_information.title') %>
</h4>
<p>
  <%= t('terms_of_service.contact_information.description', contact_link: link_to(t('terms_of_service.contact_information.title'), new_support_tickets_path)) %>
</p>

